<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <arg name="no-gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file="$(find butter_robot_large_base_urdf)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no-gui" value="$(arg no-gui)"/>
    <arg name="world" value="$(find butter_robot_large_base_urdf)/worlds/butter_world.wbt"/>
  </include>

  <arg name="auto-close" default="false" doc="Startup mode"/>
  <env name="LD_LIBRARY_PATH" value="$(env LD_LIBRARY_PATH):$(env WEBOTS_HOME)/lib/controller"/>
  <env name="PYTHONPATH" value="$(env PYTHONPATH):$(env WEBOTS_HOME)/lib/controller/python27" unless="$(eval '1' if env('ROS_DISTRO') == 'noetic' else '0')" />
  <env name="PYTHONPATH" value="$(env PYTHONPATH):$(env WEBOTS_HOME)/lib/controller/python38" if="$(eval '1' if env('ROS_DISTRO') == 'noetic' else '0')" />
  <node name="webots_ros_python_butter" pkg="butter_robot_large_base_urdf" type="ros_python.py" required="$(arg auto-close)"/>
  <!--<node name="ros_controller_butter" pkg="butter_robot_large_base_urdf" type="ros_controller.py" required="$(arg auto_close)"/>
  node name="trainee" pkg="simulacao_webots" type="trainee" required="$(arg auto-close)"/-->
</launch>
